body { 
    margin : 0;
    height: 100%;
    width: 100%;
}
.modal{
    height: 100%;
    width: 100%;
    background-image: url('https://compass-ssl.xbox.com/assets/0f/e2/0fe20042-0bb8-4781-82f4-7130f928b021.jpg?n=Minecraft-2017_Superhero-0_Keyart_767x431.jpg');
    background-size: cover;
    text-align: center;
    position: absolute;
    right: 0;
    z-index: 1;
}
.modalButton{
    margin: 0 15px;
    margin-top: 25%;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    
}
.board{
    width:650px;
    height: 600px;
    margin-left: 120px;
    margin-right: 120px;
}
.sky {
    background-color : skyblue;
    width: 5%;
    height: 5%;
    display: inline-block;
}
.white{
    background-color : white;
    width: 5%;
    height: 5%;
    display: inline-block;
}
.green{
    background-image: url('../img/arbre.png');
    background-size: cover;
    width: 5%;
    height: 5%;
    display: inline-block;
}
.dirt{
    background-image: url("../img/ssfeuille.jpg");
    background-size:cover;
    width: 5%;
    height: 5%;
    display: inline-block;
}
.pierre{
    background-image: url("../img/avcfeuille.jpg");
    background-size:cover;
    width: 5%;
    height: 5%;
    display: inline-block;
}
.trunk{
    background-image: url("../img/trunk.png");
    background-size:cover;
    width: 5%;
    height: 5%;
    display: inline-block;
}
.rock{
    background-image: url("../img/rock.png");
    background-size:cover;
    width: 5%;
    height: 5%;
    display: inline-block;
}
.menu {
    width: 150px;
    height: 100%;
    position: absolute;
    right: 0;
    top:0;
    background-color: black;
}
.pickaxe {
    width: 40px;
    height: 40px;
    background-image: url("../img/pickaxe.png");
    background-size: 40px;
    margin-top: 50px;
    margin-left: 50px;
    border: 2px solid silver;
}
.shovel{
    width: 40px;
    height: 40px;
    background-image: url("../img/shovel.png");
    background-size: 40px;
    margin-top: 40px;
    margin-left: 50px;
    border: 2px solid silver;
}
.axe{
    width: 40px;
    height: 40px;
    background-image: url("../img/axe.png");
    background-size: 40px;
    margin-top: 40px;
    margin-left: 50px;
    border: 2px solid silver;
}